<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.dynamicadmin.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.dynamicadmin.entity.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="role" property="role" />
        <result column="description" property="description" />
        <result column="create_by" property="createBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

    <resultMap autoMapping="true" type="org.shanzhaozhen.dynamicadmin.entity.SysRole" id="SysRoleResourceMap">
        <id property="id" column="id"></id>
        <collection property="roles" column="id" select="org.shanzhaozhen.dynamicadmin.mapper.SysRoleMapper.selectSysRoleByResourceId">
        </collection>
    </resultMap>

</mapper>
