<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shanzhaozhen.dynamicadmin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shanzhaozhen.dynamicadmin.entity.sys.UserDo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />
        <result column="enabled" property="enabled" />
        <result column="name" property="name" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="avatar" property="avatar" />
        <result column="email" property="email" />
        <result column="phone_number" property="phoneNumber" />
        <result column="address" property="address" />
        <result column="introduction" property="introduction" />
        <result column="create_by" property="createBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
    </resultMap>

</mapper>
